/* reset html & body */
html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #ffffff;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 550;
  border-bottom: 2.5px solid;
  position: relative;
  padding-bottom: 0.25rem;
}

a:hover:after {
  background-color: #f2cf90;
}

a:after {
  content: "";
  display: block;
  width: 120%;
  height: 160%;
  position: absolute;
  background-color: transparent;
  top: -20%;
  left: -10%;
  z-index: -1;
  transition: background-color 0.2s ease-out;
}

.pgp-main-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-wrapper--centred {
  justify-content: center;
  align-items: center;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
}
