# dependencies
/node_modules

# testing
/test

# build
/dist

# misc
/obj
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# compiled dist files
wwwroot/client-dist