@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@using PizzaGhostPizzeria.Pages
@model OrderCheckoutModel
<!-- set some initial state -->
<pgp-client-state initialState="@Model.InitialState"></pgp-client-state>

<!-- content wrapper -->
<div class="content-wrapper content-wrapper--centred">

    <!--  scripts -->
    <pgp-script client-script="page-order-checkout" inline></pgp-script>


    <h1>Checkout</h1>

</div>
