@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@using PizzaGhostPizzeria.Pages
@model OrderIndexModel
<!-- set some initial state -->
<pgp-client-state initial="@Model.InitialState" global="@Model.GlobalState"></pgp-client-state>

<!-- content wrapper -->
<div class="content-wrapper content-wrapper--centred">

    <!--  scripts -->
    <pgp-script client-script="page-order" inline></pgp-script>

    <h1>Order Pizza</h1>
    <section class="item-container">
        @foreach (var pizza in Model.Pizzas)
        {
            <pgp-el-pizza-order-card pizza="@pizza.toJson()" amount="@Model.GetOrderAmountByPizzaId(pizza.Id)"></pgp-el-pizza-order-card>
        }
    </section>

</div>
