@page

<!-- content wrapper -->
<div class="content-wrapper content-wrapper--centred">

    <!--  scripts -->
    <pgp-script client-script="page-home" inline></pgp-script>

    <!-- pizzeria logo -->
    <pgp-partial name="_logo"></pgp-partial>

    <my-element></my-element>

</div>