<!-- inline styles + scripts -->
<pgp-script client-script="partial-header"></pgp-script>
<pgp-style client-style="partial-header"></pgp-style>

<!-- nav bar -->
<nav class="pgp-nav">
  <pgp-a asp-page="/Index" asp-page-is-active>Home</pgp-a>
  <pgp-a asp-page="/Order/Index" asp-page-is-active>Order</pgp-a>
</nav>