<!doctype html>
<html lang="en">
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- page title -->
    <title>
        @ViewData["Title"]
    </title>

    <!-- styles -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <pgp-style client-style="core"></pgp-style>
    @RenderSection("Styles", required: false)

</head>
<body>

    <!-- main content -->
    <main role="main" class="pgp-main-content">
        @RenderBody()
    </main> 

    <!--  scripts -->
    <pgp-script client-script="core" inline></pgp-script>
    @RenderSection("Scripts", required: false)

</body>
</html>